.projectContainer {
	width:100%;
}

.projectWrap {
	width:200px;
	padding: 0 5px 0 0;
	display:inline-block;
}

.projectWrap h3{
	text-align:center;
}

#recentProjects img{
	border: 4px #873D52 solid;
}

#Updates {
	padding-bottom: 55px;
}

#updateBox {
	height: 250px;
	margin: 0 auto;
	width: 88%;
	border: #e3c995 3px dashed;
	padding: 20px;
	overflow: auto;
	background-color: #F3E5C8;
}

.projectPics {   
   -webkit-filter: sepia(50%);
   -moz-filter: sepia(50%);
   -ms-filter: sepia(50%);
   filter: sepia(50%);
   filter: #965A44;
}

.projectPics:hover {
	-webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
}