/*Common settings for all sizes*/
html {
	min-height: 100%;
}
body {
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #e3c995;
    background-repeat:no-repeat;
   	background: -webkit-linear-gradient(#FFFAF0,#e3c995);
   	background: -o-linear-gradient(#FFFAF0,#e3c995);
   	background: -moz-linear-gradient(#FFFAF0,#e3c995);
	background: linear-gradient(#FFFAF0,#e3c995); 
	margin: 0;
	padding: 0;
	min-height: 100%;
	}
	
h1, h2, h3 {
	font-family: "Palatino Linotype", "Book Antiqua", serif;
	color: #973252;
}

p, dt, dd {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	line-height: 34px;
}

ul, li, h4, h5, h6, a {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

section ul,
section li {
	line-height: 34px;
}

*{
	font-family: sans-serif;
}
.wrapper {
	margin: 0 auto;
	background-color: #FFFFFF;
	margin-top: -8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	min-height: 100%;
	overflow:hidden;
}
header {
	position:relative;
}
nav ul {
	margin-top: -2px;
	background-color: #F29DB5; 
	height: 100%;
}
nav ul,
footer ul {
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.activeNavLink a {
	background-color: #D16785;
}
nav a:hover {
	background-color: white;
	color: #5E9732;
}
nav a:active {
	background-color: pink;
}
section {
	background-color: #FFFFFF;
	width: 85%;
	height: 100%;
	margin: 0 auto;
}
section > * {
	text-align: justify;
	padding: 0px 20px;
}
nav a,
footer a {
	text-decoration: none;
	color: white;
}
footer {
	position: fixed;
	bottom: -14px;
	left: 0px;
	width: 100%;
	padding-top: 3px;
}
footer ul {
	background-color: #993350;
	color: #FFFFFF;
	padding-top: 5px;
}
footer img {
	width: 15px;
	}	
footer {
	height: 60px;
	}
footer ul {
	margin: 0;
	}
footer li {
	display: inline;
	}

/* Desktop/Laptop size */
@media screen and (min-width:826px) {
	.wrapper {
		margin: 0 auto;
		margin-top: -8px;
		width: 800px;
	}
	#dropMenu {
		display:none;
	}
	nav {
		width: 800px;
		height: 75px;
	}
		nav li {
		margin-top: 30px;
		display: inline-block;
		text-align: center;
	}
	nav a {
		height: 100%;
		padding: 20px;
	}
}

/* Mobile & Tablet size */
@media screen and (max-width:825px){
	.wrapper {
		width: 90%;
	}	
	header img {
		width: 100%;
	}
	nav { 
		width: 100%;
	}
	nav ul {
		margin: 0;
		padding: 10px 0px;
	}
	nav li {
		margin-bottom: 5px;
	}
	nav a {
		padding: 10px 0;
		width: 80%;
		margin: 0px auto;
		display: block;
	}
	#menuLink {
		padding: 10px;
		background-color:white;
		color: #808080;
	}
	
}